<!DOCTYPE html>
<html>
  <head>
    <title>ContactProvider</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if user_signed_in? %>
      <%= render "navbar" %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
